<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>This is ANIMAL page</h1>
	{% comment %} <h2>{{ animals }}</h2>
	<h2>id{{ animal_id }}</h2> {% endcomment %}

  {{context.all_info_dict}}
	<ul>
		{% for k,p in context.all_info_dict.items %}
				<li> {{k}}:{{p}} </li>
		{% endfor %}
		Photo:{{ MEDIA_ROOT }} {{BASE_DIR}}
		<img width=200px src="/media/{{ context.photo }}"
	</ul> 
</body>
</html>