 {% extends 'partials/navbar.html' %}
 
 {% block content%}
<div class="container">
	<h1>{{title}}</h1>
	<div class="row">
		{% for p in film_info %}
		<div class="col-3"></div>
		<div class="card m-2 col-6" >
      <img src="/media/{{p.movie.imagefield}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title">{{ p.title }}</h3>
				<h6 class="card-subtitle mb-2 text-body-secondary">Date:{{p.release_date}}</h6>
				<table class="table table-borderless table-sm">
          <tbody>
            {% for c in p.category.all %}
            <tr>
              <td>{% if forloop.first %} 
                    Category:
                  {% endif %}
              </td>
              <td>{{c}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
				<p class="card-text">Country: {{p.created_in_country}}</p>
				<table class="table table-borderless table-sm">
          <tbody>
            {% for c in p.director.all %}
            <tr>
              <td>{% if forloop.first %} 
                    Director:
                  {% endif %}
              </td>
                {% if request.user.is_superuser %}
                  <td><a href="{% url 'edit_director_path' c.pk %}" class="card-link">{{c}}</a></td>
                {% else %}
                  <td>{{c}}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if request.user.is_superuser %}
        <p><a href="{% url 'edit_film_path' p.pk %}" class="card-link">Modify the film</a></p>
      {% endif %}
      <p><a href="{% url 'full_film_info_path' p.pk %}" class="card-link">Full info</a></p>
    </div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<form action="" method="post" action="/upload/" class="form-floating row g-6 p-4 col-6 col-sm-12">
				{% csrf_token %}
				{% for f in film_forms.comm %}
					<p><label class="form-label" for="{{ f.id_for_label }}"> {{f.label}}: </label>
						{{ f }}
					</p>
					<div class="form-error">{{ f.errors }}</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary g-2">Add cooment</button>
			</form>
		</div>
	</div>
	<div class="row">
		<h4>Comments:</h4> 
		{% for com in comment_list %}
		<div class="col-6">
			<div class="card m-3">
				<div class="card-body">
					<h5 class="card-title">{{com.user}}:</h5>
					<p class="card-text">{{com.comment}}</p>
				</div>
			</div>
		</div>
	
		{% endfor %}
	</div>
</div>


</div>

 {% endblock%}


