{% extends 'rent/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
<br><br>
<div class="container">
	<div class="row">
    <div class="col">
			<p><b>Vehicle type:</b> {{v.vehicle_type}}</p>
			<p><b>Date created:</b> {{v.date_created}}</p>
			<p><b>Real cost:</b> {{v.real_cost}}</p>
			<p><b>Size:</b> {{v.size}}</p>
			{% if v.is_in_rent %}
				<p><b>This vehicle is in ren now</b> </p>
			{% else %}
				<p><b>This vehicle available for rent</b> </p>
			{% endif %}
			</div>
	</div>
</div>
{% endblock %}
