<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1> Persanal page</h1>
	<div>Search string: </div>{{info}}
	<div>Element Type: </div>{{str}}
	<h2>Found:</h2>
	<h3>Person name: {{person.name}} </h3><br>
	<h3>Person email: {{person.email}} </h3><br>
	<h3>Person phone: {{person.phone}} </h3><br>
	<h3>Person address: {{person.address}} </h3><br>

</body>
</html>